:root {
  --primary-color: #222;
  --secondary-color: slateblue;
}

.section__about {
  display: flex;
}

.top {
  flex: 50%;
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.top__header {
  margin-bottom: 1rem;
}

.top__header h1 {
  font-weight: bolder;
  margin-bottom: 0.2rem;
}

.top__header p {
  text-align: justify;
  letter-spacing: 1px;
  font-weight: 500;
}

.top__footer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.top__footer .contact__me {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  transition: all 0.5s ease-out;
  margin-right: 1rem;
}

.top__footer .contact__me:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.bottom {
  display: flex;
  flex: 50%;
  align-items: center;
  flex-direction: column;
}

.icons {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.icons a {
  margin: 0 1rem;
}

.bottom .card {
  width: 20rem;
  border-radius: 0.5rem;
  padding-bottom: 4rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10rem;
}

.bottom .card img {
  width: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.bottom .card .name {
  text-align: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .top__footer .contact__me {
    width: 40%;
  }
}

/* Small devices (portrait tablets and large phones, 992px and down) */
@media only screen and (max-width: 600px) {
  section {
    padding: 2rem;
  }

  .top__footer .contact__me {
    width: 60%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  section {
    padding: 1rem;
  }

  .top__footer .contact__me {
    width: 80%;
    font-size: 0.8rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .top__footer .contact__me {
    width: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  .top__footer .contact__me {
    width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .top__footer .contact__me {
    width: 30%;
  }
}
