@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #222;
  --secondary-color: slateblue;
  --border-radius: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

section {
  padding: 4rem;
  width: 90%;
  margin: auto;
}

/* Nav */
nav {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: gainsboro;
  width: 100%;
  height: 7vh;
}

.nav__brand a,
.nav__item a {
  color: var(--primary-color);
  font-weight: 500;
}

.nav__links {
  display: flex;
  list-style: none;
}

.nav__item {
  margin-right: 3rem;
  padding: 0.5rem;
}

.nav__end a {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--primary-color);
  transition: all 0.5s ease-out;
}

.nav__end a:hover {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

/* Alert */

.validation__alert {
  position: relative;
  margin: 1rem 0;
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;

  /* Error */
  /* background-color: #e28484;
  color: #8f2121; */

  /* Success */
  /* background-color: #82eb82;
  color: #308330; */
  display: none;
  transition: all 0.6s ease-out;
}

.close__btn {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: transparent;
  top: 8px;
  right: 8px;
}
